*{
  margin:0;
  padding: 0;
}
.jumbotron{
  background-color: yellow;
  color: black;
}
footer{
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}
.card-hotel{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex:1 33.3%;
  padding: 2px 5px;
}
.btn-reserva{
  width: 90%;
  margin:0 auto;
}